{% extends 'base.html' %}
{% block content %}
<h3>Take Exam: {{ exam.name }} <small class="text-muted">(Total: {{ total_max_marks }} marks)</small></h3>
<form method="post">
    {% csrf_token %}
    {% for question in exam.question_set.all %}
        <div class="mb-4">
            <strong>Q{{ forloop.counter }}:</strong> {{ question.text }} 
            <strong><span class="text-muted">({{ question.marks }} marks)</strong></span><br>
            <textarea name="answer_{{ question.id }}" placeholder="Descriptive Answer" class="form-control mb-2"></textarea>
            <textarea name="code_{{ question.id }}" placeholder="Code (optional)" class="form-control"></textarea>
        </div>
    {% endfor %}
    <button class="btn btn-success">Submit Answers</button>
</form>
{% endblock %}
